@namespace CgvMate.Client.Layout
@using System.Net

<div class="@Class sidebar-body">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="@IsOpen.ToString()">
                CGV
            </button>
            <div class=@(IsOpen ? "collapse show" :"collapse") id="home-collapse"
                 onclick="document.querySelector('.btn-close').click()">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="@Constants.event_"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            이벤트 목록
                        </a>
                    </li>
                    <li>
                        <a href="@Constants.event_giveaway"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            경품 이벤트 현황
                        </a>
                    </li>
                    <li>
                        <a href="@Constants.event_cupon_speed"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            스피드쿠폰 조회
                        </a>
                    </li>
                    <li>
                        <a href="@Constants.event_cupon_surprise"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            서프라이즈 쿠폰 조회
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="@IsOpen.ToString()">
                롯데시네마
            </button>
            <div class=@(IsOpen ? "collapse show" :"collapse") id="home-collapse"
                 onclick="document.querySelector('.btn-close').click()">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="@Constants.lotte_event"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            이벤트 목록
                        </a>
                    </li>
                    <li>
                        <a href="@Constants.lotte_event_giveaway"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            경품 이벤트 현황
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="@IsOpen.ToString()">
                메가박스
            </button>
            <div class=@(IsOpen ? "collapse show" :"collapse") id="home-collapse"
                 onclick="document.querySelector('.btn-close').click()">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="@Constants.megabox_event_giveaway"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            경품 이벤트 현황
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-3">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="@IsOpen.ToString()">
                Github
            </button>
            <div class=@(IsOpen ? "collapse show" :"collapse") id="home-collapse"
                 onclick="document.querySelector('.btn-close').click()">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="https://github.com/woorim02/CGVMate"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            woorim02/CGVMate
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="contact-wrap">
        <p class="contact">버그 제보/문의</p>
        <p class="contact">kakao: <a href="https://open.kakao.com/o/sSS6JJsg">오픈채팅</a></p>
    </div>
</div>

@code {
    [Parameter]
    public bool IsOpen { get; set; } = false;

    [Parameter]
    public string Class { get; set; } = "sidebar";

}