@using CgvMate.Data.Enums
@attribute [Route(Constants.lotte_event_giveaway)]
@inject LotteMateApi api

<PageTitle>롯데시네마 경품 이벤트 현황</PageTitle>
<HeadContent>
    <meta name="keywords" content="소액 대출, 보험 계약 대출, 급여 대출, 비상금 대출, 학자금 대출, 할부, 당일 대출 가능한곳" />
</HeadContent>

<article class="article">
    <div class="header">
        <div class="title">
            <p>
                진행중인 경품 이벤트
                <strong>
                    @if (EventList is not null)
                    {
                        <span id="listcount">@EventList.Count</span>
                    }
                </strong>
                개
            </p>
        </div>
        <div class="search-bar">
            <form class="search-form" onsubmit="return false;">
                <input class="event-input form-control" @onchange=OnSearchBarChangeAsync placeholder="이벤트 검색">
                <button class="btn btn-outline-success cgv-gradient" type="button">검색</button>
            </form>
        </div>
    </div>

    <div class="body">
        <ul class="eventlist">
            @if (EventList is not null)
            {
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2422895337222657"
     crossorigin="anonymous"></script>
<!-- 상단 배너 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2422895337222657"
     data-ad-slot="3730871491"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                @for (int i = 0; i < EventList.Count; i++)
                {
                    if (i == EventList.Count / 2)
                    {
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2422895337222657"
     crossorigin="anonymous"></script>
<!-- 중간 광고 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2422895337222657"
     data-ad-slot="1843074752"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                    }
                    var item = EventList[i];
                    <li class="item" style="cursor:pointer;">
                        <a href='lotte/event/giveaway/detail?eventIndex=@item.EventID'>
                            <div class="text-container">
                                <strong class="item-title">@item.EventName</strong>
                                <span class="item-period">
                                    <span style="margin-right: 5px;">
                                        @($"{item.ProgressStartDate} ~ {item.ProgressEndDate}")
                                    </span>
                                    <svg width="13px" height="13px" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z" />
                                        <path fill-rule="evenodd"
                                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                    <span class="item-views">
                                        @item.Views
                                    </span>
                                </span>
                            </div>
                            <span class="item-dday">@ConvertToDDay(item.ProgressEndDate)</span>
                        </a>
                    </li>
                }
            }
            else
            {
                @for (int i = 0; i < 20; i++)
                {
                    <li class="item" style="cursor:pointer;">
                        <p>
                            로딩중...
                        </p>
                    </li>
                }
            }
        </ul>
        <CgvMate.Client.Components.FooterAd></CgvMate.Client.Components.FooterAd>
    </div>
</article>


@code {
    private List<CgvMate.Data.Entities.LotteCinema.Event>? eventList;
    private List<CgvMate.Data.Entities.LotteCinema.Event>? EventList;

    protected override async Task OnInitializedAsync()
    {
        var list = await api.GetLotteEventListAsync(LotteEventType.영화);
        EventList = new List<CgvMate.Data.Entities.LotteCinema.Event>();
        foreach (var item in list)
        {
            if (item.EventName.Contains("증정이벤트") || item.EventName.Contains("아트카드") || item.EventName.Contains("<듄> 시리즈 재개봉") || item.EventName.Contains("무비씰") || item.EventName.Contains("少年少女"))
            {
                EventList.Add(item);
            }
        }
        eventList = EventList;
    }

    private void OnSearchBarChangeAsync(ChangeEventArgs args)
    {
        var text = args.Value as string;
        if (eventList is null)
            return;
        if (string.IsNullOrEmpty(text))
        {
            return;
        }
        EventList = eventList.Where(x => x.EventName.ToLower().Contains(text.ToLower())).ToList();
    }

    static string ConvertToDDay(string dateString)
    {
        // DateTime 객체로 변환
        DateTime targetDate;
        if (DateTime.TryParseExact(dateString, "yyyy.MM.dd", null, System.Globalization.DateTimeStyles.None, out targetDate))
        {
            // 현재 날짜
            DateTime currentDate = DateTime.Now.Date;

            // 날짜 차이 계산
            TimeSpan difference = targetDate - currentDate;
            int daysUntil = difference.Days;

            // D-Day 형식으로 반환
            if (daysUntil > 0)
            {
                return $"D-{daysUntil}";
            }
            else if (daysUntil < 0)
            {
                return $"D+{-daysUntil}";
            }
            else
            {
                return "D-Day";
            }
        }
        else
        {
            throw new ArgumentException("날짜 형식이 잘못되었습니다.");
        }
    }
}