@using CgvMate.Data.Entities.LotteCinema
@attribute [Route(Constants.lotte_event_giveaway_detail)]
@inject LotteMateApi api
@inject IJSRuntime JSRuntime

<PageTitle>@gift_name 경품 수량 확인</PageTitle>
<HeadContent>
    <meta name="keywords" content="소액 대출, 보험 계약 대출, 급여 대출, 비상금 대출, 학자금 대출, 할부, 당일 대출 가능한곳" />
</HeadContent>

<article class="tl">
    <div class="header">
        <div class="header-title">
            <p id="header-text">
                잔여 수량 확인
            </p>
        </div>
    </div>
    <div class="content-wrap">
        <div class="header-title2">
            <p class="header-content">
                @if (gift_name is not null)
                {
                    @gift_name
                }
            </p>
        </div>
        <div style="height: 50px;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2422895337222657"
     crossorigin="anonymous"></script>
<!-- 상단 배너 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2422895337222657"
     data-ad-slot="3730871491"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        <div class="content">
            @if (info is not null)
            {
                <div class="contentL">
                    <ul class="area-list">
                        @foreach (var item in info.CinemaDivisions)
                        {
                            <li id="area-@item.DetailDivisionCode"
                                class="@(item.DetailDivisionCode == currentArea ? "active" : string.Empty)" style="display: block"
                                @onclick="async arg => await SelectAreaTheaterList(item.DetailDivisionCode)">
                                <a
                                    href=@($"{Constants.lotte_event_giveaway_detail}?eventIndex={EventID}&areaCode={item.DetailDivisionCode}")>
                                    @item.GroupNameKR
                                    <span>(@item.CinemaCount)</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="contentR">
                @{
                        var cinemaItems = info.CinemaDivisionGoods.Where(x => x.DetailDivisionCode == currentArea).ToList();
                    }
                    <ul class="theater-list">
                        @for (int i = 0; i < cinemaItems.Count; i++)
                        {
                            var item = cinemaItems[i];
                            <li class="theater">
                                <div class="theater-name">
                                    <span class="theater-name">@item.CinemaNameKR</span>
                                </div>
                                <div>
                                    <span class="theater-state"><span class="num">@item.Cnt</span> 개 이상</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="contentL">
                    <ul class="area-list">
                        @for (int i = 0; i < 10; i++)
                        {
                            <li class="theater" style="display: block; color:white">
                                ...
                            </li>
                        }
                    </ul>
                </div>
                <div class="contentR">
                <ui class="theater-list">
                    @for (int i = 0; i < 15; i++)
                        {
                            <li class="theater" style="display: block; color:white">
                                ...
                            </li>
                        }
                    </ui>
                </div>
            }
        </div>
        <CgvMate.Client.Components.FooterAd></CgvMate.Client.Components.FooterAd>
    </div>

</article>

@code {
    [SupplyParameterFromQuery(Name = "eventIndex")]
    public string? EventID { get; set; }
    [SupplyParameterFromQuery(Name = "areaCode")]
    private string? currentArea { get; set; }

    private string? gift_id;
    private string? gift_name;
    private GiveawayEventDetail? info;

    protected override async Task OnInitializedAsync()
    {
        if (EventID is null)
            return;
        if(currentArea is null)
            currentArea = "0001";
        var obj = await api.GetLotteGiveawayEventModelAsync(EventID);
        gift_id = obj.FrGiftID;
        gift_name = obj.FrGiftNm;
        info = await api.GetLotteGiveawayInfoAsync(EventID, gift_id);
    }

    private async Task SelectAreaTheaterList(string areaCode)
    {
        StateHasChanged();
    }

    private static string CountTypeCodeToText(string type)
    {
        switch (type)
        {
            case "type4": return "마감 되었습니다.";
            case "type3": return "재고 소진 임박 입니다.";
            case "type2": return "재고 보유 가능성이 높습니다.";
            default: return "unknown";
        }
    }

    private static string CountTypeCodeToColor(string type)
    {
        switch (type)
        {
            case "type4": return "#d3d3d3";
            case "type3": return "#fb4357";
            case "type2": return "#25c326";
            default: return "unknown";
        }
    }
}